root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_using_directive_placement = inside_namespace:suggestion

# CA1710 Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity = suggestion
