@model Groceries.Data.Store
@{
    Layout = "_Modal";
    ViewBag.Title = "Edit Store";
}

<form class="card__content" id="editStore" method="post" asp-action="EditStore" data-action="turbo:submit-end->modal#close">
    <partial name="_StoreForm" />
</form>

<footer class="card__footer card__footer--shaded row">
    <button class="button button--primary" type="submit" form="editStore">Save</button>
    <button class="button" data-action="modal#close">Cancel</button>
</footer>
