@using Groceries.Data

@layout Modal

<SectionContent SectionName="modalTitle">Edit Store</SectionContent>

<StoreForm Store="Store" class="card__content" id="editStore" data-action="turbo:submit-end->modal#close" />

<footer class="card__footer card__footer--shaded row">
    <button class="button button--primary" type="submit" form="editStore">Save</button>
    <button class="button" data-action="modal#close">Cancel</button>
</footer>

@code {
    [Parameter]
    public required Store Store { get; set; }
}
