@{
    Layout = "_Modal";
    ViewBag.Title = "New Store";
}

<form class="card__content" id="newStore" method="post" asp-action="NewStore" data-action="turbo:submit-end->modal#close">
    <partial name="_StoreForm" />
</form>

<footer class="card__footer card__footer--shaded row">
    <button class="button button--primary" type="submit" form="newStore">Save</button>
    <button class="button" data-action="modal#close">Cancel</button>
</footer>
