@using Groceries.Data
@model Item
@{
    Layout = ViewBag.RenderingToTurboStream == true ? null : "_Modal";
    ViewBag.Title = "Edit Item";
}

<h1>Edit Item</h1>

<form asp-action="EditItem" method="post">
    <div class="form-field">
        <div class="form-field__control input">
            <input class="input__control" name="brand" value="@Model.Brand" placeholder="Brand" />
        </div>
    </div>

    <div class="form-field">
        <div class="form-field__control input">
            <input class="input__control" name="name" value="@Model.Name" placeholder="Name" />
        </div>
    </div>

    <button class="button button--flat" type="reset" data-action="modal#close">Cancel</button>
    <button class="button button--flat">Save</button>
</form>
