@using Groceries.Data

@layout Modal

<SectionContent SectionName="modalTitle">New Transaction Item</SectionContent>

<TransactionItemForm TransactionItem="TransactionItem" class="card__content" id="newTransactionItem" data-action="turbo:submit-end->modal#close" />

<footer class="card__footer card__footer--shaded row">
    <button class="button button--primary" type="submit" form="newTransactionItem">Add</button>
    <button class="button" data-action="modal#close">Cancel</button>
</footer>

@code {
    [Parameter]
    public required Transaction Transaction { get; set; }

    [Parameter]
    public required TransactionItem TransactionItem { get; set; }
}
