@using Groceries.Data;
@using Microsoft.EntityFrameworkCore;

@model Transaction
@inject AppDbContext dbContext
@{
    ViewBag.Title = "New Transaction Item";

    var store = await dbContext.Stores
        .Where(store => store.Id == Model.StoreId)
        .Select(store => string.Concat(store.Retailer!.Name, " ", store.Name))
        .SingleAsync();
}

<h1>New Transaction Item</h1>

<div>@Model.CreatedAt.ToShortDateString() @Model.CreatedAt.ToShortTimeString() &ndash; @store</div>

<form method="post" asp-action="NewTransactionItem">
    <partial name="_TransactionItemForm" model="null" />

    <div class="row">
        <button class="button button--primary" type="submit">Add</button>
        <a class="button" asp-action="NewTransactionItems">Cancel</a>
    </div>
</form>
