@using Groceries.Data

@model (Transaction Transaction, TransactionItem? TransactionItem)
@{
    Layout = "_Modal";
    ViewBag.Title = "New Transaction Item";
}

<form class="card__content" id="newTransactionItem" method="post" asp-action="NewTransactionItem" data-action="turbo:submit-end->modal#close">
    <partial name="_TransactionItemForm" model="Model.TransactionItem" />
</form>

<footer class="card__footer card__footer--shaded row">
    <button class="button button--primary" type="submit" form="newTransactionItem">Add</button>
    <button class="button" data-action="modal#close">Cancel</button>
</footer>
